{% extends "base.html" %}
{% load static %}
{% load wishlist_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Wishlist</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if wishlist_products %}
                    <div class="d-block d-md-none">
                        
                        <div class="row">
                            <div class="col">
                                <!-- {% include "wishlist/wishlist-total.html" %} -->
                                <h6><strong>Wishlist Total: ${{ wishlist_total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Grand Total: ${{ wishlist_grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 text-danger">
                                        You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        
                        
                        <div class="row">
                            <div class="col">
                                <!-- {% include "wishlist/checkout-buttons.html" %} -->
                                <p class="text-muted mb-5">A summary of your wishlist contents is below</p>
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        {% for item in wishlist_products %}
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-2">
                                    <!-- {% include "wishlist/product-image.html" %} -->
                                    {% if item.product.image %}
                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    {% else %}
                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                    {% endif %}
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    <!-- {% include "wishlist/product-info.html" %} -->
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                </div>
                            </div>
                            <div class="row"><div class="col"><hr></div></div>
                        {% endfor %}
                        <div class="btt-button shadow-sm rounded-0 border border-black">
                            <a class="btt-link d-flex h-100">
                                <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                            </a>	
                        </div>
                    </div>
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col"></th>
                                    
                                </tr>
                            </thead>

                            {% for item in wishlist_products %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <!-- {% include "wishlist/product-image.html" %} -->
                                        {% if item.product.image %}
                                        <img class="img-fluid rounded wishlist_image" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                        {% else %}
                                        <img class="img-fluid rounded wishlist_image" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <!-- {% include "wishlist/product-info.html" %} -->
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3">
                                        <form class="form wishlist_left" action="{% url 'remove_from_wishlist' item.product.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="ml-5 wishlist_left">
                                                <button type="submit" value="{{ item.product.id }}" class="btn-like p-0" aria-label="Remove from wishlist">
                                                    <i class="fas fa-heart heart"></i>
                                                    <div class="wishlist_right ml-2">
                                                        <p>Remove from wishlist</p>
                                                    </div>
                                                </button>
                                            </div>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </form>
                                    </td>                                    
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your wishlist is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg mb-5">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- GinAmore -->
    <div class="container-fluid bg-white wishlist-height">
        <div class="row">
            <div class="col-12 mt-4">
                <h2>Wishlist</h2>
                {% if wishlist_products %}
                <div class="row">
                    {% for item in wishlist_products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card mt-2 mb-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <form class="form" action="{% url 'remove_from_wishlist' item.product.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="wishlist_left">
                                                <button type="submit" value="{{ item.product.id }}" class="btn-like p-0" aria-label="Remove from wishlist">
                                                    <i class="fas fa-heart heart"></i>
                                                    <div class="wishlist_right ml-2">
                                                        <p>Remove from wishlist</p>
                                                    </div>
                                                </button>
                                            </div>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col gin_image_cards_container">
                                        <a href="{% url 'product_detail' item.product.id %}">
                                            <img class="gin_image_cards" src="{{ item.product.image.url }}" alt="An image to show {{ item.product.name }}">
                                        </a>
                                    </div>
                                </div>
                                <p>{{ product.liked }}</p>
                                <p class="mt-3 text-center">{{ item.product.name}}</p>
                                <p class="text-center mt-2">£{{ item.product.price}}</p>
                                <p class="text-center mt-2">{{item.product.rating}}/5</p>
                                <div class="row">
                                    <div class="col-12 btns">
                                        <a href="{% url 'product_detail' item.product.id %}">
                                            <p class="text-light shop-btn text-center mt-4">Shop Now</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="container-fluid no-items">
                    <div class="row">
                        <div class="col-12">
                            <p>Add some items to your wishlist!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 btns">
                            <a href="{% url 'products' %}">
                                <p class="text-light shop-btn text-center">Shop Now</p>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemClass = $(this).attr('class').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/wishlist/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}