{% extends "base.html" %}
{% load static %}
{% load wishlist_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Wishlist</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if wishlist_products %}
                    <!-- wishlist for sm screen sizes-->
                    <div class="d-block d-md-none">
                        {% for item in wishlist_products %}
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-2">
                                    <!-- wishlist product-image -->
                                    {% if item.product.image %}
                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    {% else %}
                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                    {% endif %}
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    <!-- wishlist product-info -->
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-0 text-muted">Price: £{{ item.product.price }}</p>
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    <form class="form wishlist_left" action="{% url 'remove_from_wishlist' item.product.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="wishlist_left">
                                            <button type="submit" value="{{ item.product.id }}" class="btn-like p-0" aria-label="Remove from wishlist">
                                                <i class="fas fa-heart heart"></i>
                                                <div class="wishlist_right ml-2">
                                                    <p>Remove from wishlist</p>
                                                </div>
                                            </button>
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                </div>
                            </div>
                            <div class="row"><div class="col"><hr></div></div>
                        {% endfor %}
                        <div class="row">
                            <div class="col">
                                <!-- wishlist keep shopping button -->
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg mb-3">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                            </div>
                        </div>
                        <div class="btt-button shadow-sm rounded-0 border border-black">
                            <a class="btt-link d-flex h-100">
                                <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                            </a>	
                        </div>
                    </div>
                    <!-- wishlist for md and above screen sizes -->
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col"></th>                                    
                                </tr>
                            </thead>
                            {% for item in wishlist_products %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <!-- wishlist product-image -->
                                        {% if item.product.image %}
                                        <img class="img-fluid rounded wishlist_image" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                        {% else %}
                                        <img class="img-fluid rounded wishlist_image" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <!-- wishlist product-info -->
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3">
                                        <form class="form wishlist_left" action="{% url 'remove_from_wishlist' item.product.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="ml-5 wishlist_left">
                                                <button type="submit" value="{{ item.product.id }}" class="btn-like p-0" aria-label="Remove from wishlist">
                                                    <i class="fas fa-heart heart"></i>
                                                    <div class="wishlist_right ml-2">
                                                        <p>Remove from wishlist</p>
                                                    </div>
                                                </button>
                                            </div>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </form>
                                    </td>                                    
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your wishlist is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg mb-5">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemClass = $(this).attr('class').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/wishlist/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}