<footer class="container-wrapper">
    <div class="container quotes-container content-container">
        <section class="footer">
            <div class="row">
                <div class="col-12 page-header mt-2">
                    <h2 class="text-uppercase">Stay in touch:</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-5 col-lg-6 text-white mb-3">
                    <h3>Social</h3>
                    <p class="">Keep up to date with all our latest offers</p>
                    <a href="#" class="text-decoration-none text-white" target="_blank"><i
                            class="fab fa-facebook-square text-white"></i> Follow us on Facebook!</a>
                </div>
                <div class="col-12 col-md-7 col-lg-6 mb-3">
                    <h3>Subscribe!</h3>
                    <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
                    <!-- Mailchimp signup form here -->
                    <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form
                            action="https://github.us10.list-manage.com/subscribe/post?u=168bffed51f09782f33bdbdf9&amp;id=59128af4c4"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                            target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <div class="indicates-required text-black"><span class="asterisk">*</span> indicates required</div>
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL" class="text-black">Email Address <span class="asterisk">*</span>
                                    </label>
                                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                        name="b_168bffed51f09782f33bdbdf9_59128af4c4" tabindex="-1" value=""></div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                            class="button">
                                        <p class="brandingLogo"><a href="http://eepurl.com/h2h0Hv"
                                                title="Mailchimp - email marketing made easy and fun"><img
                                                    src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" alt="Mailchimp Logo"></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--End mc_embed_signup-->
                </div>
            </div>
            <!-- Copyright -->
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col text-white text-center mt-2 mb-2">
                            <span>
                                Plant Spot |
                            </span>
                            <span class="d-none d-md-inline-block">Developed by: Lucy Glanville-Brown </span>
                            <a href="#" class="text-decoration-none" target="_blank" rel="noopener">
                                <i class="fab fa-github fa-lg ml-1 text-white" aria-hidden="true"></i>
                                <span class="sr-only">GitHub</span>
                            </a>
                            <a href="#" class="text-decoration-none" target="_blank" rel="noopener">
                                <i class="fab fa-linkedin fa-lg ml-1 text-white" aria-hidden="true"></i>
                                <span class="sr-only">linkedin</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>