<div class="container quotes-container content-container d-none d-md-block">
    <section class="footer">
        <div class="row">
            <div class="col-12 page-header mb-1 pt-2">
                <h2 class="text-uppercase">Stay in touch:</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <h3>Social</h3>
                <p class="mb-1">Keep up to date with all our latest offers</p>
                <a href="#" class="text-decoration-none pb-1 text-white" target="_blank"><i
                        class="fab fa-facebook-square text-white"></i> Follow us on Facebook!</a>
            </div>
            <div class="col-12 col-md-6 mt-1">
                <h2>Subscribe!</h2>
                <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
                <!-- Mailchimp signup form here -->
            </div>
        </div>
        <!-- Copyright -->
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col mt-2 ml-4 text-white text-center">
                        <span>
                            Plant Spot |
                        </span>
                        <span class="d-none d-md-inline-block">Developed by: Lucy Glanville-Brown </span>
                        <a href="#" class="text-decoration-none" target="_blank" rel="noopener">
                            <i class="fab fa-github fa-lg ml-1 text-white" aria-hidden="true"></i>
                            <span class="sr-only">GitHub</span>
                        </a>
                        <a href="#" class="text-decoration-none" target="_blank" rel="noopener">
                            <i class="fab fa-linkedin fa-lg ml-1 text-white" aria-hidden="true"></i>
                            <span class="sr-only">linkedin</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>