<div class="container quotes-container content-container d-none d-md-block">
    <section class="footer">
        <div class="row">
            <div class="col-12 page-header mb-1 pt-2">
                <h2 class="text-uppercase">Stay in touch:</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 text-black">
                <h3>Social</h3>
                <p class="mb-1">Keep up to date with all our latest offers</p>
                <a href="#" class="text-decoration-none text-black pb-1" target="_blank"><i class="fab fa-facebook-square text-black"></i> Follow us on Facebook!</a>
            </div>
            <div class="col-12 col-md-6 mt-1">
                <h2>Subscribe!</h2>
                <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
                <!-- Mailchimp signup form here -->
            </div>
        </div>
    </section>
</div>